// Normalize.css
@import "./styles/init-css";
@import "./styles/colors";

// Roboto Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

// PrimeFlex
@import "primeflex/primeflex.scss";

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: $white;
	background-color: $bgColor;
}

a {
	text-decoration: none;
	color: $white;
}
